.CartDisplay {
    padding-block-end: 20px;

    > .content > .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 15px;

        @media(max-width: 400px) {
            grid-template-columns: repeat(1, 1fr)
        }
    }

    > .content button {
        width: 100%;
        padding-block: 8px;
        padding-inline: 10px;
        background-color: var(--grey);
        color: var(--white);
        border-radius: 365px;
        font-size: 22px;
        transition: background-color 0.2s;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.3);

        margin-top: 20px;

        &:hover {
             background-color: var(--black);
        }
    }

    .content .sendOrder {
        padding-block-start: 30px;


        .price {
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .price span {
            font-size: 24px;
        }

        > textarea {
            padding-block: 10px;
            padding-inline: 10px;
            width: 100%;
            margin-top: 12px;

            resize: vertical;
            height: 250px;
            outline:none;
            border: 1px solid var(--grey);
            transition: border 0.2s;

            &:focus {
                border: 1px solid orangered;
            }
        }

    }

    > .content article {

    }

    > .content article:has(+ article) {
    }
}