.box {
  background-color: red;
  margin-inline: auto;
  width: 100%;

  padding-block: 20px;
  border-radius: 10px;

  &.margin {
    margin-block: 10px;
  }


  > p {
    color: var(--white);
    text-align: center;
    padding-inline: 12px;
    width: 100%;
  }
}

.success {
    background-color: green;
  }
