.detailsPage {
    display: flex;
    flex-direction: column;

    @media(width > 600px) {
        flex-direction: row;
    }

    > div {
        flex: 1;
        padding-block: 12px;
    }

    .imgBox {
        display: grid;
        place-content: center;
        > img {
            aspect-ratio: 1/1;
            height: 100%;
            width: auto;
            margin-block: auto;
            margin-inline: auto;
        }
    }

    .infoBox {
        display: grid;
        place-content: center;
        background-color: var(--mainColor);
    }

    .infoBox h1 {
        color: var(--white);
        -webkit-text-stroke: 1px var(--black);
        margin-bottom: 10px;
        text-align: center;
    }

    .infoBox > .ing {
        text-align: center;
    }

    .infoBox > .ing > p:has(+p) {
        margin-bottom: 8px;
    }

    .infoBox > .ing > select {
        margin-top: 8px;
        padding-block: 8px;
        padding-inline: 10px;
        background-color: var(--white);
        outline:none;
        border: none;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        
    }
}