.employees {
    position: relative;

    > .addSec {
        padding-block: 20px;
    }

     h1 {
        text-align: start;
        margin-bottom: 15px;
        font-size: 22px;
    }


    > .updateSec {
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.95);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        svg {
            position: absolute;
            color: var(--white);
            height: 30px;
            width: auto;

            top: 15px;
            right: 15px;

            cursor: pointer;
        }
    }

    .deletePopup {
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.95);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


         .dialog {
            width: 100%; /* fyld hele containeren. */
        }

        .dialog .top {
            padding-inline: 14px;
            padding-block: 10px;
            background-color: var(--grey);
            color: var(--white);
            font-size: 18px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .dialog strong {
            display: block;
            font-weight: 600;
        }

        .dialog svg {
            color: var(--white);
            cursor: pointer;
            height: 25px;
            width: auto;
        }

        .dialog .msg {
            padding-block: 14px;
            padding-inline: 14px;
            text-align: start;
            font-size: 18px;
            background-color: var(--white);
        }

        .dialog .actions {
            padding-block: 10px;
            padding-inline: 14px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            background-color: var(--white);
            border-top: 1px solid var(--grey);
        }

        .dialog .yesBtn {
            background-color: green;
        }

        .dialog .noBtn {
            background-color: red;

        }

        .dialog button {
            cursor: pointer;
            border:0px;
            outline:none;
            padding-block: 8px;
            color: var(--white);
            padding-inline: 10px;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
            border-radius: 8px;
            font-size: 20px;
        }
    }

     form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    form > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    form input {
        padding-block: 8px;
        padding-inline: 10px;
        outline:none;
        border:0px;
    }

    form input[type="file"] {
        padding: 0px;
    }

    form label {
        font-size: 18px;
    }

    form input[type="text"] {
        background-color: var(--mainColor);
        border: 1px solid var(--mainColor);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        border-radius: 10px;
        transition: border 0.2s;
    }

    form input[type="text"]:focus {
        border: 1px solid var(--grey);
    }

    form input::file-selector-button {
        padding-block: 8px;
        padding-inline: 10px;
        border: 0px;
        outline:none;
    }

    form input::file-selector-button:hover, form input[type="submit"]:hover {
        background-color: black;
    }


    form input[type="submit"], form input::file-selector-button {
        background-color: var(--grey);
        color: var(--white);
        border-radius: 10px;
        transition: background-color 0.2s;
    }

    .whiteText {
        color: var(--white);
    }
}