.CategorySec {
    .categories {
        background-color: var(--mainColor);
        padding-block: 12px;

    }

    .categories .catContent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media(width < 300px) {
            grid-template-columns: repeat(1, 1fr);
        }

    }

    .catElements {
        background-color: var(--white);
        padding-block: 12px;
    }

    .elementContent {
        display: grid;

    }
}