
    .categories {
        background-color: var(--mainColor);
        padding-block: 12px;


    }

    .categories .catContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }

    .catElements {
        background-color: var(--white);
        padding-block: 12px;
    }

    .elementContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }