.CartCard {
    background-color: var(--mainColor);
    padding-block: 15px;
    padding-inline: 15px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    position: relative;

    > .top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding-block: 15px;
    }

    > .top .removeBtn {
        cursor: pointer;
        position: absolute;
        color: var(--black);
        top: 8px;
        right: 10px;
        height: 20px;
        width: auto;
    }


    > .top p {
        text-wrap: wrap;
        text-align: center;
        margin-block: auto;
    }

    > .top img {
        height: 60px;
        width: auto;        
        aspect-ratio: 1/1;
        margin-inline: auto;
        margin-block: auto;
        filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.3));

        @media(width < 300px) {
        height: 40px;

        }
    }

    > .info {
        
    }

    > .info div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .info div:has(+ div) {
        margin-bottom: 10px;
    }

    > .info div p:nth-child(1) {
        text-decoration: underline;
        text-underline-offset:4px;
    }


}