.priceSec {
    padding-block-end: 20px;
    > select {
        padding-block: 8px;
        padding-inline: 20px;
        background-color: var(--mainColor);
        outline:none;
        border: none;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
        width: 100%;
        margin-bottom: 20px;
    }

    > h2 {
        text-align: center;
        display: block;

        &:has(+ h2) {
            margin-bottom: 8px;
        }
    }
}

.orderSec button {
    background-color: var(--grey);
    color: var(--white);
    border-radius: 365px;
    font-size: 22px;
    transition: background-color 0.2s;
    padding-block: 12px;
    padding-inline: 15px;
    width: 100%;

    &:hover {
            background-color: var(--black);
        }
}