* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #f6f0ee;
  --white: #ffffff;
  --grey: #4a4a4a;
  --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.titleFont {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p,
strong,
span,
li,
a {
  font-size: 18px;
  font-family: "Kurale", serif;
}

.container {
  width: min(960px, calc(100% - 2rem));
  margin-inline: auto;
}

a,
button {
  cursor: pointer;
}
