.backofficeNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-block: 15px;


    > ul {
        list-style-type: none;
    }

    > ul li {
        text-decoration: none;
        cursor: pointer;
        color: var(--black);
        box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
        padding-block: 8px;
        padding-inline: 20px;
        background-color: var(--grey);
        color: var(--white);
        border-radius: 10px;
    }
}