.introSec {
    padding-block: 20px;

     h1 {
        text-align: center;
        text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    }

    h1:has(+ p) {
        margin-bottom: 12px;
    }

     p {
        text-align: center;
    }
}